.env
*.env
backend/.env
frontend/.env

#BACKEND
backend/target/
**/*.rs.bk

#FRONTEND
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

#SCRIPTS
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

#EDITOR
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log